[Unit]
Description=Doorlock Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f /home/ctf/doorlock/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /home/ctf/doorlock/docker-compose.yml down

[Install]
WantedBy=default.target
